<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asistencia | Identificador de personal</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css" rel="stylesheet"/>
  </head>

<body>
  <header th:replace="~{home :: header}"></header>
  <div class="p-4 mt-5">
    <h2 class="text-center" th:text="${txtTitulo}"></h2>
    <div class="d-flex justify-content-end">
      <a type="button" class="btn btn-outline-primary" th:href="@{/aparato/listarAparato}">
        Regresar
      </a>
    </div>
  </div>
  <div class="w-75 mx-auto my-auto">
    <form th:action="@{/aparato/guardarNumeroPersonal}" th:object="${personalAparato}" method="post">
      <div class="row row-cols-md-2 row-cols-1 d-flex justify-content-center my-3 gy-2">
        <div class="col">
          <label class="mb-2" for="idPersonal">Elegir persona a asignar</label>
          <select name="idPersonal" id="idPersonal" th:field="*{personal}" class="form-select"
            aria-label="Default select example">
            <option value="" selected>Seleccione un administrativo</option>
            <option th:each="administrativoDTO : ${administrativos}" th:value="${administrativoDTO.administrativo.duiPersonal}"
              th:text="${administrativoDTO.administrativo.nombrePersonal + ' ' + administrativoDTO.administrativo.apellidoPersonal}">
            </option>
          </select>
        </div>
        <div class="col">
          <label class="mb-2" for="numeroAparatoPersonal">Elegir Identificador</label>
          <input type="hidden" th:field="*{idPersonalAparato}" />
          <input type="number" th:field="*{numeroAparatoPersonal}" name="numeroAparatoPersonal" id="numeroAparatoPersonal"
            class="form-control" min="1" placeholder="1" />
          <small class="form-text text-danger" th:if="${#fields.hasErrors('numeroAparatoPersonal')}"
            th:errors="*{numeroAparatoPersonal}"></small>
        </div>
        <div class="d-flex justify-content-center py-3">
          <input type="submit" class="btn btn-success px-5" th:value="${txtBoton}" />
        </div>
      </div>
    </form>
  </div>
  </div>
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>