<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="home :: head">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Agregar Numero Aparato</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
  <header th:replace="home :: header"></header>
  <div class="vh-100 p-4">
    <h1 class="text-center">¡Bienvenido al Modulo de Asistencia!</h1>
    <div class="w-75 mx-auto mt-5">
      <div class="row row-cols-md-2 row-cols-1 gy-3">
        <div class="col d-flex justify-content-center">
          <div class="card" style="width: 18rem; height: 18rem;">
            <img src="https://img.freepik.com/free-vector/personal-files-concept-illustration_114360-4049.jpg"
              class="card-img-top" alt="asignar identificador" style="object-fit: cover; height: 60%;">
            <div class="card-body">
              <h5 class="card-title">Asignar Identificador</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p> -->
              <a th:href="@{/aparato/listarAparato}" class="btn btn-primary">Asignar</a>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card" style="width: 18rem; height: 18rem;">
            <img src="https://img.freepik.com/free-vector/schedule-concept-illustration_114360-1751.jpg"
              class="card-img-top" alt="listar asistenciar" style="object-fit: cover; height: 60%;">
            <div class="card-body">
              <h5 class="card-title">Asistencia</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p> -->
              <a th:href="@{/asistencias/seleccionInicio}" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript"></script>

</html>