body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f8ff; /* Light blue background */
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.image img {
  max-width: 300px; /* Adjust the size as needed */
  max-height: 300px;
}

.text h1 {
  color: #005187;; /* Dark blue color */
  font-size: 3em;
  margin: 0.2em 0;
}

.text h2 {
  color: #005187; /* Slightly lighter blue */
  font-size: 5em;
  margin: 0.2em 0;
}

.text h3 {
  color: #005187;/* Dark blue color */
  font-size: 1.5em;
  margin: 0.2em 0 1em;
}

button {
  padding: 15px 30px;
  color: #ffffff;
  background-color: #005187;/* Dark blue background */
  border: 1px solid #005187; /* Borde negro de 1 píxel */
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffffff; /* Color de fondo ligeramente más claro al pasar el mouse */
  color: black; /* Color del texto */
  border: 1px solid black; /* Borde negro de 1 píxel */
}

