<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{home :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <!-- Contiene el menú lateral -->
            <nav class="col-md-2 d-none d-md-block custom-navbar min-vh-100 navbar navbar-expand-lg fixed-top">
                <div class="custom-navbar py-5">
                    <ul class="nav nav-pills flex-column mt-2">
                        <li class="nav-item py-2 py-sm-0 my-2">
                            <a class="nav-link text-white" th:href="@{/horarios/asignarHoras}">
                                <i class="bi bi-journal-plus"></i>
                                <span class="fs-6 ms-2 d-none d-sm-inline">Asignar horas de clase</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0 my-2">
                            <a class="nav-link text-white" th:href="@{/horarios/editarHoras}">
                                <i class="bi bi-journal-minus"></i>
                                <span class="fs-6 ms-2 d-none d-sm-inline">Cambiar horas de clase</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0 my-2">
                            <a class="nav-link text-white">
                                <i class="bi bi-journal-check"></i>
                                <span class="fs-6 ms-2 d-none d-sm-inline">Generar horario - sección</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0 my-2">
                            <a class="nav-link text-white">
                                <i class="bi bi-journal-check"></i>
                                <span class="fs-6 ms-2 d-none d-sm-inline">Generar horario - docente</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Contiene el area de trabajo -->
            <div class="col-md-10 offset-md-2">
                <header th:replace="~{home :: header}"></header>

                <div class="container-fluid py-5">

                    <h3 class="text-start col-12 mb-3 mt-4">Seleccione una sección para gestionar sus horas de clase
                    </h3>

                    <!-- Alertas -->
                    <div>
                        <div class="alert alert-success alert-dismissible fade show mt-1 ms-2 mr-2"
                            th:if="${success != null}">
                            <label th:text="${success}"></label>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div class="alert alert-danger alert-dismissible fade show mt-1 ms-2 mr-2"
                            th:if="${error != null}">
                            <label th:text="${error}"></label>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div class="alert alert-warning alert-dismissible fade show mt-1 ms-2 mr-2"
                            th:if="${warning != null}">
                            <label th:text="${warning}"></label>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div class="alert alert-info alert-dismissible fade show mt-1 ms-2 mr-2"
                            th:if="${info != null}">
                            <label th:text="${info}"></label>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>


                    <!-- Contiene el formulario para seleccionar una sección -->
                    <form th:action="@{/horarios/editarHoras}" method="get">
                        <div class="row mt-4 justify-content-center">
                            <!-- Carrera -->
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="selectGrado" class="form-label">Carrera</label>
                                    <select id="carrera" name="carrera" th:value="${carrera}" class="form-select"
                                        aria-label="Default select example">
                                        <option value="" selected>Seleccione</option>
                                        <option th:each="bachillerato : ${bachilleratos}"
                                            th:value="${bachillerato.nombreCarrera}"
                                            th:text="${bachillerato.nombreCarrera}"
                                            th:selected="${carrera == bachillerato.nombreCarrera}"></option>
                                    </select>
                                </div>
                            </div>

                            <!-- Año -->
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="selectGrado" class="form-label">Año</label>
                                    <select id="grado" name="grado" th:value="${grado}" class="form-select">
                                        <option value="" selected>Seleccione</option>
                                        <option value="1" th:selected="${grado == '1'}">1</option>
                                        <option value="2" th:selected="${grado == '2'}">2</option>
                                        <option value="3" th:selected="${grado == '3'}">3</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Sección -->
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="selectGrado" class="form-label">Sección</label>
                                    <select id="seccion" name="seccion" th:value="${seccion}" class="form-select">
                                        <option value="" selected>Seleccione</option>
                                        <option value="A" th:selected="${seccion == 'A'}">A</option>
                                        <option value="B" th:selected="${seccion == 'B'}">B</option>
                                        <option value="C" th:selected="${seccion == 'C'}">C</option>
                                        <option value="D" th:selected="${seccion == 'D'}">D</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 d-flex align-items-end mb-3">
                                <input type="submit" class="btn btn-primary w-100" value="Filtrar">
                            </div>
                        </div>
                    </form>


                    <!-- Contiene la sección elegida, si el filtro no encuentra un codigo relacionado con la 
                     busqueda pedira que seleccione una seccion valida, ademas al entrar por primera vez simplemente no se mostrara-->
                    <h5 class="text-start col-lg-9 mt-2" th:text="${formSubmitted ? 
                        (bachillerato == null || bachillerato.getCodigoBachillerato() == 0 ? 
                            'Selecciona una sección válida' : 
                            'Asignando horas de clase a ' + 
                            (grado != null ? grado + '° ' : '') +
                            (carrera != null ? carrera + ' ' : '') +
                            (seccion != null ? seccion: '')) : ''}">
                    </h5>

                    <!-- Contiene las horas de clase de una sección-->
                    <div class="row" th:if="${bachillerato != null and bachillerato.getCodigoBachillerato() != 0}">

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Día</th>
                                        <th>Hora</th>
                                        <th>Materia</th>
                                        <th>Docente</th>
                                        <th style="width: 10%; text-align: left;">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Agrega la referencia al elemento que maneja la paginación (page.content) -->
                                    <tr th:each="hours : ${horasDeClase}">
                                        <td
                                            th:text="${hours.idAsignacionHorario + ' - ' + hours.horarioBase.dia.nombreDia}">
                                        </td>
                                        <td
                                            th:text="${hours.horarioBase.idHorarioBase + ' - ' + hours.horarioBase.hora.horaFinalizacion + ' - ' + hours.horarioBase.hora.horaInicio}">
                                        </td>
                                        <td th:text="${hours.asignacion.materia.nomMateria}"></td>
                                        <td
                                            th:text="${hours.asignacion.docente.nombreDocente + ' ' + hours.asignacion.docente.apellidoDocente}">
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-left">
                                                <button class="btn btn-primary btn-sm mx-1 editar-btn"
                                                    data-bs-toggle="modal" data-bs-target="#nuevaHoradeClase"
                                                    th:data-id="${hours.idAsignacionHorario}"
                                                    th:data-horario="${hours.horarioBase.idHorarioBase}"
                                                    th:data-intervalo="${hours.horarioBase.hora.horaFinalizacion + ' - ' + hours.horarioBase.hora.horaInicio}"
                                                    th:data-docente="${hours.asignacion.idAsignacion}">
                                                    <i class="bi bi-pencil-square"></i>
                                                </button>
                                                <a class="btn btn-danger btn-sm mx-1 delete-btn"
                                                    th:href="@{/horarios/eliminarHora/{id}(id=${hours.idAsignacionHorario}, carrera=${carrera}, grado=${grado}, seccion=${seccion})}"
                                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                                    <i class="bi bi-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal de Confirmación -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ¿Estás seguro de eliminar el registro? Esta acción no puede deshacerse.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de edición -->
        <div class="modal fade" id="nuevaHoradeClase" tabindex="-1" aria-labelledby="nuevaHoradeClaseLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="nuevaHoradeClaseLabel">Hora de clase</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <!-- Formulario para asignar horas de clase-->
                        <form class="needs-validation" novalidate id="formNuevaHora"
                            th:action="@{/horarios/actualizarHora}" method="post">

                            <!-- idAsignacionHorario -->
                            <div class="mb-3">
                                <label for="idAsignacionHorario" class="form-label">idAsignacionHorario</label>
                                <input type="text" class="form-control" id="idAsignacionHorario"
                                    name="idAsignacionHorario" readonly required>
                                <div class="invalid-feedback">Ha ocurrido un error, por favor refresca la pestaña</div>
                            </div>

                            <!-- idHorarioBase -->
                            <div class="mb-3">
                                <label for="horaSeleccionada" class="form-label">idHorarioBase</label>
                                <input type="text" class="form-control" id="horaSeleccionada" name="horaSeleccionada"
                                    readonly required>
                                <div class="invalid-feedback">Ha ocurrido un error, por favor refresca la pestaña</div>
                            </div>

                            <!-- Hora de inicio - hora de fin -->
                            <div class="mb-3">
                                <label for="intervaloHora" class="form-label">idHorarioBase</label>
                                <input type="text" class="form-control" id="intervaloHora" name="intervaloHora" readonly
                                    required>
                                <div class="invalid-feedback">Ha ocurrido un error, por favor refresca la pestaña</div>
                            </div>

                            <!-- Sección -->
                            <div class="mb-3">
                                <label for="seccionSeleccionada" class="form-label">Sección</label>
                                <input type="text" class="form-control" id="seccionSeleccionada"
                                    name="seccionSeleccionada" th:value="${grado + 'º ' + carrera + ' ' + seccion}"
                                    required readonly>

                                <div class="invalid-feedback">Ha ocurrido un error, por favor refresca la pestaña</div>
                            </div>

                            <!-- Asignación -->
                            <div class="mb-3">
                                <label for="asignacion" class="form-label">Materia y docente</label>
                                <select class="form-select" id="asignacionSeleccionada" name="asignacionSeleccionada"
                                    aria-label="Default select example" required>
                                    <option value="" selected>Seleccione</option>
                                    <option th:each="asignaciones : ${asignaciones}"
                                        th:value="${asignaciones.idAsignacion}"
                                        th:text="${asignaciones.materia.nomMateria + ' - ' +  asignaciones.docente.nombreDocente + ' ' + asignaciones.docente.apellidoDocente}">
                                    </option>
                                </select>
                                <div class="invalid-feedback">Por favor, selecciona la materia y el docente.</div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-danger me-2" id="cancelarNuevaHora"
                                    data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary" id="guardarNuevaHora">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{home :: footer}"></footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/js/validacionRequired.js"></script>
        <script type="text/javascript" src="/js/modalEliminacion.js"></script>
        <script>
            const form = document.getElementById('formNuevaHora');
            form.addEventListener('submit', function (event) {
                // Añadir los parámetros carrera, grado y seccion al formulario antes de enviarlo para
                // actualizar la vista para la misma sección
                const carreraInput = document.createElement('input');
                carreraInput.type = 'hidden';
                carreraInput.name = 'carrera';
                carreraInput.value = document.getElementById('carrera').value;

                const gradoInput = document.createElement('input');
                gradoInput.type = 'hidden';
                gradoInput.name = 'grado';
                gradoInput.value = document.getElementById('grado').value;

                const seccionInputHidden = document.createElement('input');
                seccionInputHidden.type = 'hidden';
                seccionInputHidden.name = 'seccion';
                seccionInputHidden.value = document.getElementById('seccion').value;

                form.appendChild(carreraInput);
                form.appendChild(gradoInput);
                form.appendChild(seccionInputHidden);
            });
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const editButtons = document.querySelectorAll(".editar-btn");

                editButtons.forEach(button => {
                    button.addEventListener("click", function () {
                        const idAsignacionHorario = this.getAttribute("data-id");
                        const horarioBase = this.getAttribute("data-horario");
                        const intervalo = this.getAttribute("data-intervalo")
                        const docente = this.getAttribute("data-docente")

                        document.getElementById("idAsignacionHorario").value = idAsignacionHorario;
                        document.getElementById("horaSeleccionada").value = horarioBase;
                        document.getElementById("intervaloHora").value = intervalo;
                        document.getElementById("asignacionSeleccionada").value = docente; // Aquí "docente" es realmente el idAsignacion
                    });
                });
            });

        </script>

    </div>
</body>

</html>