<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{home :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <!-- Contiene el menú lateral -->
            <nav class="col-md-2 d-none d-md-block custom-navbar min-vh-100 navbar navbar-expand-lg fixed-top">
                <div class="custom-navbar py-5">
                    <ul class="nav nav-pills flex-column mt-2">
                        <li class="nav-item py-2 py-sm-0 my-2">
                            <a class="nav-link text-white" th:href="@{/horarios/asignarHoras}">
                                <i class="bi bi-journal-plus"></i>
                                <span class="fs-6 ms-2 d-none d-sm-inline">Asignar horas de clase</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0 my-2">
                            <a class="nav-link text-white" th:href="@{/horarios/editarHoras}">
                                <i class="bi bi-journal-minus"></i>
                                <span class="fs-6 ms-2 d-none d-sm-inline">Cambiar horas de clase</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0 my-2">
                            <a class="nav-link text-white" th:href="@{/horarios/generarHorarioSeccion}">
                                <i class="bi bi-journal-check"></i>
                                <span class="fs-6 ms-2 d-none d-sm-inline">Generar horario - sección</span>
                            </a>
                        </li>
                        <li class="nav-item py-2 py-sm-0 my-2">
                            <a class="nav-link text-white">
                                <i class="bi bi-journal-check"></i>
                                <span class="fs-6 ms-2 d-none d-sm-inline">Generar horario - docente</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Contiene el área de trabajo -->
            <div class="col-md-10 offset-md-2">
                <header th:replace="~{home :: header}"></header>

                <div class="container-fluid py-5">
                    <h3 class="text-start col-12 mb-3 mt-4">Seleccione una sección para gestionar sus horas de clase
                    </h3>

                    <!-- Contiene el formulario para seleccionar una sección -->
                    <form th:action="@{/horarios/generarHorarioSeccion}" method="get">
                        <div class="row mt-4 justify-content-center">
                            <!-- Carrera -->
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="selectGrado" class="form-label">Carrera</label>
                                    <select id="carrera" name="carrera" th:value="${carrera}" class="form-select"
                                        aria-label="Default select example">
                                        <option value="" selected>Seleccione</option>
                                        <option th:each="bachillerato : ${bachilleratos}"
                                            th:value="${bachillerato.nombreCarrera}"
                                            th:text="${bachillerato.nombreCarrera}"
                                            th:selected="${carrera == bachillerato.nombreCarrera}"></option>
                                    </select>
                                </div>
                            </div>

                            <!-- Año -->
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="selectGrado" class="form-label">Año</label>
                                    <select id="grado" name="grado" th:value="${grado}" class="form-select">
                                        <option value="" selected>Seleccione</option>
                                        <option value="1" th:selected="${grado == '1'}">1</option>
                                        <option value="2" th:selected="${grado == '2'}">2</option>
                                        <option value="3" th:selected="${grado == '3'}">3</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Sección -->
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="selectGrado" class="form-label">Sección</label>
                                    <select id="seccion" name="seccion" th:value="${seccion}" class="form-select">
                                        <option value="" selected>Seleccione</option>
                                        <option value="A" th:selected="${seccion == 'A'}">A</option>
                                        <option value="B" th:selected="${seccion == 'B'}">B</option>
                                        <option value="C" th:selected="${seccion == 'C'}">C</option>
                                        <option value="D" th:selected="${seccion == 'D'}">D</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Botones -->
                            <div class="col-md-3 d-flex align-items-end mb-3">
                                <div class="w-100 d-flex justify-content-between gap-2">
                                    <!-- Filtrar -->
                                    <input type="submit" class="btn btn-primary w-50" value="Filtrar"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Editar horas de clase"
                                        alt="Botón Filtrar">

                                    <!-- Asignar -->
                                    <a class="btn btn-primary w-50"
                                        th:href="@{/horarios/asignarHoras(carrera=${carrera}, grado=${grado}, seccion=${seccion})}"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Crear horas de clase"
                                        alt="Botón Asignar"> Asignar horas
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>


                    <!-- Mensajes de alerta -->
                    <div class="alert-container mb-3">
                        <div class="alert alert-success alert-dismissible fade show" th:if="${success != null}">
                            <label th:text="${success}"></label>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div class="alert alert-danger alert-dismissible fade show" th:if="${error != null}">
                            <label th:text="${error}"></label>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div class="alert alert-warning alert-dismissible fade show" th:if="${warning != null}">
                            <label th:text="${warning}"></label>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <div class="alert alert-info alert-dismissible fade show" th:if="${info != null}">
                            <label th:text="${info}"></label>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>

                    <!-- Contiene la sección elegida -->
                    <h5 class="text-start"
                        th:text="${formSubmitted ? (bachillerato == null || bachillerato.getCodigoBachillerato() == 0 ? 'Selecciona una sección válida' : 'Mostrando horas de clase de ' + (grado != null ? grado + '° ' : '') + (carrera != null ? carrera + ' ' : '') + (seccion != null ? seccion: '')) : ''}">
                    </h5>

                    <div class="row" th:if="${bachillerato != null and bachillerato.getCodigoBachillerato() != 0}">

                        <!-- Contenedor para la tabla y filtro -->
                        <div class="card mt-4">
                            <div class="card-body">
                                <div class="row mb-3 justify-content-center">

                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Hora</th>
                                                    <th>Lunes</th>
                                                    <th>Martes</th>
                                                    <th>Miércoles</th>
                                                    <th>Jueves</th>
                                                    <th>Viernes</th>
                                                    <th>Sabado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Turno matutino -->
                                                <tr>
                                                    <td>07:00 - 07:45 AM</td>
                                                    <td th:data-idHorarioBase="1"></td>
                                                    <td th:data-idHorarioBase="13"></td>
                                                    <td th:data-idHorarioBase="25"></td>
                                                    <td th:data-idHorarioBase="37"></td>
                                                    <td th:data-idHorarioBase="49"></td>
                                                    <td data-idHorarioBase="61"></td>
                                                </tr>
                                                <tr>
                                                    <td>07:45 - 08:30 AM</td>
                                                    <td data-idHorarioBase="2"></td>
                                                    <td data-idHorarioBase="14"></td>
                                                    <td data-idHorarioBase="26"></td>
                                                    <td data-idHorarioBase="38"></td>
                                                    <td data-idHorarioBase="50"></td>
                                                    <td data-idHorarioBase="62"></td>
                                                </tr>
                                                <tr>
                                                    <td>08:30 - 08:50 AM</td>
                                                    <td>R</td>
                                                    <td>E</td>
                                                    <td>C</td>
                                                    <td>R</td>
                                                    <td>E</td>
                                                    <td>O</td>
                                                </tr>
                                                <tr>
                                                    <td>08:50 - 09:35 AM</td>
                                                    <td data-idHorarioBase="3"></td>
                                                    <td data-idHorarioBase="15"></td>
                                                    <td data-idHorarioBase="27"></td>
                                                    <td data-idHorarioBase="39"></td>
                                                    <td data-idHorarioBase="51"></td>
                                                    <td data-idHorarioBase="63"></td>
                                                </tr>
                                                <tr>
                                                    <td>09:35 - 10:20 AM</td>
                                                    <td data-idHorarioBase="4"></td>
                                                    <td data-idHorarioBase="16"></td>
                                                    <td data-idHorarioBase="28"></td>
                                                    <td data-idHorarioBase="40"></td>
                                                    <td data-idHorarioBase="52"></td>
                                                    <td data-idHorarioBase="64"></td>
                                                </tr>
                                                <tr>
                                                    <td>10:20 - 10:30 AM</td>
                                                    <td>R</td>
                                                    <td>E</td>
                                                    <td>C</td>
                                                    <td>R</td>
                                                    <td>E</td>
                                                    <td>O</td>
                                                </tr>
                                                <tr>
                                                    <td>10:30 - 11:15 AM</td>
                                                    <td data-idHorarioBase="5"></td>
                                                    <td data-idHorarioBase="17"></td>
                                                    <td data-idHorarioBase="29"></td>
                                                    <td data-idHorarioBase="41"></td>
                                                    <td data-idHorarioBase="53"></td>
                                                    <td data-idHorarioBase="65"></td>
                                                </tr>
                                                <tr>
                                                    <td>11:15 - 12:00 PM</td>
                                                    <td data-idHorarioBase="6"></td>
                                                    <td data-idHorarioBase="18"></td>
                                                    <td data-idHorarioBase="30"></td>
                                                    <td data-idHorarioBase="42"></td>
                                                    <td data-idHorarioBase="54"></td>
                                                    <td data-idHorarioBase="66"></td>
                                                </tr>
                                                <tr>
                                                    <td>12:00 - 01:00 PM</td>
                                                    <td>R</td>
                                                    <td>E</td>
                                                    <td>C</td>
                                                    <td>E</td>
                                                    <td>S</td>
                                                    <td>O</td>
                                                </tr>

                                                <!-- Turno vespertino -->
                                                <tr>
                                                    <td>01:00 - 01:45 PM</td>
                                                    <td data-idHorarioBase="7"></td>
                                                    <td data-idHorarioBase="19"></td>
                                                    <td data-idHorarioBase="31"></td>
                                                    <td data-idHorarioBase="43"></td>
                                                    <td data-idHorarioBase="55"></td>
                                                    <td data-idHorarioBase="67"></td>
                                                </tr>
                                                <tr>
                                                    <td>01:45 - 02:30 PM</td>
                                                    <td data-idHorarioBase="8"></td>
                                                    <td data-idHorarioBase="20"></td>
                                                    <td data-idHorarioBase="32"></td>
                                                    <td data-idHorarioBase="44"></td>
                                                    <td data-idHorarioBase="56"></td>
                                                    <td data-idHorarioBase="68"></td>
                                                </tr>
                                                <tr>
                                                    <td>02:30 - 02:50 AM</td>
                                                    <td>R</td>
                                                    <td>E</td>
                                                    <td>C</td>
                                                    <td>R</td>
                                                    <td>E</td>
                                                    <td>O</td>
                                                </tr>
                                                <tr>
                                                    <td>02:50 - 03:35 PM</td>
                                                    <td data-idHorarioBase="9"></td>
                                                    <td data-idHorarioBase="21"></td>
                                                    <td data-idHorarioBase="33"></td>
                                                    <td data-idHorarioBase="45"></td>
                                                    <td data-idHorarioBase="57"></td>
                                                    <td data-idHorarioBase="69"></td>
                                                </tr>
                                                <tr>
                                                    <td>03:35 - 04:20 PM</td>
                                                    <td data-idHorarioBase="10"></td>
                                                    <td data-idHorarioBase="22"></td>
                                                    <td data-idHorarioBase="34"></td>
                                                    <td data-idHorarioBase="46"></td>
                                                    <td data-idHorarioBase="58"></td>
                                                    <td data-idHorarioBase="70"></td>
                                                </tr>
                                                <tr>
                                                    <td>04:20 - 04:30 PM</td>
                                                    <td>R</td>
                                                    <td>E</td>
                                                    <td>C</td>
                                                    <td>R</td>
                                                    <td>E</td>
                                                    <td>O</td>
                                                </tr>
                                                <tr>
                                                    <td>04:30 - 05:15 PM</td>
                                                    <td data-idHorarioBase="11"></td>
                                                    <td data-idHorarioBase="23"></td>
                                                    <td data-idHorarioBase="35"></td>
                                                    <td data-idHorarioBase="47"></td>
                                                    <td data-idHorarioBase="59"></td>
                                                    <td data-idHorarioBase="71"></td>
                                                </tr>
                                                <tr>
                                                    <td>05:15 - 06:00 PM</td>
                                                    <td data-idHorarioBase="12"></td>
                                                    <td data-idHorarioBase="24"></td>
                                                    <td data-idHorarioBase="36"></td>
                                                    <td data-idHorarioBase="48"></td>
                                                    <td data-idHorarioBase="60"></td>
                                                    <td data-idHorarioBase="72"></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{home :: footer}"></footer>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/js/validacionRequired.js"></script>
        <script type="text/javascript" src="/js/tooltip.js"></script>
        <!-- <script type="text/javascript" src="/js/horariosEditar.js"></script> -->

        <script type="text/javascript" th:inline="javascript">
            // Convertir el valor de horasDeClaseJson desde el atributo Thymeleaf a un array en JavaScript
            var horasDeClase = JSON.parse(/*[[${horasDeClaseJson}]]*/ '[]');


            console.log(Array.isArray(horasDeClase)); // Debería ser true
            console.log(horasDeClase); // Para verificar los datos

            document.addEventListener('DOMContentLoaded', function () {
                var horasDeClase = window.horasDeClase;

                function actualizarContenido(idHorarioBase) {
                    var contenedor = document.querySelector(`td[data-idHorarioBase="${idHorarioBase}"]`);
                    if (!contenedor) return;

                    var datosFiltrados = horasDeClase.filter(horario => horario.horarioBase.idHorarioBase === idHorarioBase);

                    var contenido = datosFiltrados.map(horario =>
                        `<span>${horario.asignacion.materia.codMateria} ${horario.asignacion.materia.nomMateria}<br>
                    ${horario.asignacion.docente.nombreDocente} ${horario.asignacion.docente.apellidoDocente}</span>`
                    ).join('<br>');

                    contenedor.innerHTML = contenido;
                }

                for (var i = 1; i <= 72; i++) {
                    actualizarContenido(i);
                }
            });
        </script>

    </div>
</body>

</html>