<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" th:href="@{/Imagenes/INSIBO.ico}">

    <style>
        .criteria-list {
            list-style-type: none;
            padding: 0;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <header th:replace="~{home :: header}"></header>
    <div class="container mt-3 my-5 py-5">
      <!-- Contenedor de contenido -->
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                  <!-- Titulo principal-->
                    <div class="card-header text-center">
                        <h3><b>Actualizar Contraseña</b></h3>
                    </div>
                  <!-- Cuerpo principal -->
                    <div class="card-body">
                        <!-- Alertas de falla de llenado de formulario -->
                        <div th:replace="~{alertas :: alertas}"></div>

                        <!-- Inicio del formulario-->
                        <form class="needs-validation" novalidate th:action="@{/update-password}" method="post">
                          <!-- Campo Nueva Contraseña: Ingreso de la nueva contraseña-->
                          <div class="form-group mb-3">
                            <label for="newPassword" class="form-label">Nueva Contraseña</label>
                            <div class="input-group">
                              <input th:value="${newPassword != null ? newPassword : ''}" type="password" id="newPassword" minlength="8" name="newPassword" class="form-control" placeholder="Ingrese su nueva contraseña" required>
                              <div class="input-group-append">
                                <span class="input-group-text pe-auto" style="cursor: pointer;" onclick="togglePasswordVisibility('newPassword')">
                                  <i class="bi bi-eye" id="newPasswordIcon"></i>
                                </span>
                              </div>
                              <div class="invalid-feedback">Por favor, escriba la nueva contraseña.</div>
                            </div>
                          </div>

                          <!-- Barra de progreso con estilo rayado -->
                          <div class="form-group mb-3 password-strength" id="password-strength-bar">
                            <div class="mb-2 d-flex justify-content-between">
                                <label for="progreso">Fortaleza de la contraseña:</label>
                                <span id="strength-message" class="badge"></span>                       
                            </div>
                            <div class="progress">
                                <div id="strength-bar" class="progress-bar progress-bar-striped w-0" role="progressbar" style="width: 0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>

                          <!-- Criterios a cumplir con la nueva contraseña -->
                          <div class="mt-3">
                            <h5>La contraseña debe tener:</h5>
                            <ul class="criteria-list">
                                <li id="length-criteria" class="text-secondary">
                                    <i class="bi bi-info-circle-fill"></i> Al menos 8 caracteres
                                </li>
                                <li id="lowercase-criteria" class="text-secondary">
                                    <i class="bi bi-info-circle-fill"></i> Una letra minúscula
                                </li>
                                <li id="uppercase-criteria" class="text-secondary">
                                    <i class="bi bi-info-circle-fill"></i> Una letra mayúscula
                                </li>
                                <li id="number-criteria" class="text-secondary">
                                    <i class="bi bi-info-circle-fill"></i> Un número
                                </li>
                                <li id="special-criteria" class="text-secondary">
                                    <i class="bi bi-info-circle-fill"></i> Un carácter especial
                                </li>
                            </ul>
                          </div>

                          <!-- Campos Confirmar Contraseña: Ingreso de confirmación de la nueva contraseña -->
                          <div class="form-group mb-3">
                              <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                              <div class="input-group">
                                  <input type="password" id="confirmNewPassword" minlength="8" name="confirmNewPassword" class="form-control" placeholder="Confirme su nueva contraseña" required>
                                  <div class="input-group-append">
                                      <span class="input-group-text" style="cursor: pointer;" onclick="togglePasswordVisibility('confirmNewPassword')">
                                          <i class="bi bi-eye" id="confirmPasswordIcon"></i>
                                      </span>
                                  </div>
                                  <div class="invalid-feedback">Por favor, escriba la confirmación de la nueva contraseña.</div>
                              </div>
                          </div>

                          <!-- Boton guardar -->
                          <div class="container mt-3 d-flex justify-content-center">
                              <button type="submit" class="btn btn-primary btn-block">Actualizar Contraseña</button>
                          </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/Seguridad/NuevaContraseña.js}"></script>
    <script type="text/javascript" th:src="@{/js/validacionRequired.js}"></script>

</body>
</html>

