<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{home :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{Expediente_alumno\AlumnoInformacion :: barraLateral}"></div>
            <div class="col-md-10 offset-md-2">
                <header th:replace="~{home :: header}"></header>

                <div class="container-fluid py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3 my-3 flex-wrap">

                        <h2 class="text-start col-lg-9">Listado de sanciones</h2>

                        <div class="d-flex gap-2">

                            <a class="btn btn-success Agregar-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Agregar Sancion" th:text="'Agregar Sancion'"></a>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-12 table-responsive">
                        <table class="table ">
                            <thead class="thead table-dark text-start">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tipo falta</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider fs-6">
                                <!-- Iterar sobre la lista de alumnos -->
                                <tr>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal de agregar sancion -->
<div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="confirmAgregarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirAgregarModalLabel">Agregar sanción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="needs-validation" id="formSancion" novalidate action="" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="tipoFalta" class="form-label">Tipo de falta</label>
                        <select class="form-select" id="tipoFalta" required>
                            <option value="" selected>Selecciona el tipo de falta</option>
                            <option value="Leve">Leve</option>
                            <option value="Grave">Grave</option>
                            <option value="Muy grave">Muy grave</option>
                        </select>
                        <div class="invalid-feedback">Es necesario seleccionar el tipo de falta</div>
                    </div>
                    <div class="mb-3">
                        <label for="descripcionFalta" class="form-label">Descripción</label>
                        <textarea class="form-control no-resize" id="descripcionFalta" rows="3" required></textarea>
                        <div class="invalid-feedback">Es necesario que describa lo que sucedió</div>
                    </div>
                    <div class="mb-3">
                        <label for="accionCorrectiva" class="form-label">Acción correctiva</label>
                        <textarea class="form-control no-resize" id="accionCorrectiva" rows="2" required></textarea>
                        <div class="invalid-feedback">Es necesario que complete este campo</div>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelarSancion">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="agregarModalButton">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


    <!-- Incluye Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <footer th:replace="~{home :: footer}"></footer>
    <script type="text/javascript" th:src="@{/js/GestionSanciones.js}"></script>
</body>

</html>