<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="home :: head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <header th:replace="home :: header"></header>
    <div class="container">
        <form>
            <div class="row g-3 align-items-center text-center">
                <h3 class="text-center custom-h2">
                    IDENTIFICACION DEL CENTRO EDUCATIVO
                </h3>

                <div class="col-3">
                    <label for="exampleInputEmail1" class="form-label fs-6">Grado:</label>
                    <input type="text" class="form-control" id="grado" />
                </div>
                <div class="col-3">
                    <label for="exampleInputPassword1" class="form-label fs-6">Especialidad del bachillerato:</label>
                    <input type="text" class="form-control" id="especialidad" />
                </div>
                <div class="col-3">
                    <label for="exampleInputPassword1" class="form-label fs-6">Sección:
                    </label>
                    <input type="text" class="form-control" id="seccion" />
                </div>
                <div class="col-3">
                    <label for="exampleInputPassword1" class="form-label fs-6">Jornada:
                    </label>
                    <input type="text" class="form-control" id="jornada" />
                </div>
            </div>

            <div class="row">
                <h3 class="text-center custom-h2 my-2">
                    IDENTIFICACION DEL ESTUDIANTE
                </h3>

                <div class="col-3">
                    <label for="exampleInputEmail1" class="form-label fs-6">NIE:</label>
                    <input type="text" class="form-control" id="nie" />
                </div>

                <div class="col-3">
                    <label for="exampleInputEmail1" class="form-label fs-6">DUI:</label>
                    <input type="text" class="form-control" id="dui" />
                </div>

                <div class="col-3">
                    <label for="exampleInputEmail1" class="form-label fs-6">Pasaporte/Otro:</label>
                    <input type="text" class="form-control" id="pasaporte" />
                </div>

                <div class="col-3">
                    <label for="exampleInputEmail1" class="form-label fs-6">Teléfono:</label>
                    <input type="text" class="form-control" id="telefono" />
                </div>


            </div>

            <div class="row my-2">

                <div class="col-6">
                    <label for="exampleInputEmail1" class="form-label fs-6">Nombres:</label>
                    <input type="text" class="form-control" id="nombres" />
                </div>

                <div class="col-6">
                    <label for="exampleInputEmail1" class="form-label fs-6">Apellidos:</label>
                    <input type="text" class="form-control" id="apellidos" />
                </div>

            </div>

            <div class="row my-2">
                <div class="col-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Fecha de Nacimiento:</label>
                    <input type="text" class="form-control" id="fechaNacimiento" />
                </div>

                <div class="col-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Dirección actual:</label>
                    <input type="text" class="form-control" id="direccion" />
                </div>

                <div class="col-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Genero:</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione</option>
                        <option value="1">M</option>
                        <option value="2">F</option>
                     
                      </select>
                </div>

            </div>

            <div class="row my-2">
                <div class="col-3">
                    <label for="exampleInputEmail1" class="form-label fs-6">Nacionalidad:</label>
                    <input type="text" class="form-control" id="nacionalidad" />
                </div>

                <div class="col-6">
                    <label for="exampleInputEmail1" class="form-label fs-6">Correo electrónico:</label>
                    <input type="text" class="form-control" id="correo" />
                </div>
                <div class="col-3">
                    <label for="exampleInputEmail1" class="form-label fs-6">Vive con:</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione</option>
                        <option value="1">Ambos padres</option>
                        <option value="2">Madre</option>
                        <option value="3">Padre</option>
                        <option value="4">Abuela</option>
                        <option value="5">Abuelo</option>
                        <option value="6">Tía</option>
                        <option value="6">Tío</option>

                      </select>
                </div>

            </div>

            <div class="row my-2">
                <div class="col-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Padece enfermedad:</label>
                    <input type="text" class="form-control" id="enfermedad" />
                </div>

                <div class="col-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Medicamento:</label>
                    <input type="text" class="form-control" id="medicamento" />
                </div>

                <div class="col-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Forma medicación:</label>
                    <input type="text" class="form-control" id="formaMedicacion" />
                </div>

            </div>
            <div class="row my-2">
                <h3 class="text-center custom-h2 my-2 ">
                    DATOS DEL RESPONSABLE
                </h3>

                <div class="col-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">DUI:</label>
                    <input type="text" class="form-control" id="duiEncargado" />
                </div>

                <div class="col-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Parentesco:</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Seleccione</option>
                        <option value="1">Madre</option>
                        <option value="2">Padre</option>
                        <option value="3">Abuela</option>
                        <option value="4">Abuelo</option>
                        <option value="5">Tío/a</option>
                        <option value="6">Hermano/a</option>
                        <option value="7">Primo/a</option>

                      </select>
                </div>

                <div class="col-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Teléfono:</label>
                    <input type="text" class="form-control" id="telefonoEncargado" />
                </div>
            </div>


            <div class="row my-2">
                <div class="col-6">
                    <label for="exampleInputEmail1" class="form-label fs-6">Nombres:</label>
                    <input type="text" class="form-control" id="nombreResponsable" />
                </div>

                <div class="col-6">
                    <label for="exampleInputEmail1" class="form-label fs-6">Apellidos:</label>
                    <input type="text" class="form-control" id="apellidoResponsable" />
                </div>


            </div>
            <div class="row my-2">
                <div class="col-4">
                    <label for="exampleInputEmail1" class="form-label fs-6">Lugar de trabajo:</label>
                    <input type="text" class="form-control" id="nombreResponsable" />
                </div>

                <div class="col-6">
                    <label for="exampleInputEmail1" class="form-label fs-6">Correo electrónico:</label>
                    <input type="text" class="form-control" id="apellidoResponsable" />
                </div>

            </div>

            <div class="row justify-content-center text-center ">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary my-2">Guardar</button>

                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-danger my-2">Cancelar</button>
                </div>
            </div>




        </form>
    </div>
</body>

<footer th:replace="home ::footer"></footer>

</html>