<!DOCTYPE html>
<html lang="en">

<head th:replace="home :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <header th:replace="home :: header">

    </header>

    <div class="container my-4">
        <div  class="text-end">
            <a th:href="@{/ExpedienteAlumno/Crear}" class="btn btn-secondary "th:text="'Agregar Alumno'"> </a>

        </div>
       <div class="row my-2">

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                
               <div class="container my-2">
                <h1 class="fs-6"> Filtrar Alumnos</h1>
                <form th:action="@{/ExpedienteAlumno/ver}" method="get">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label fs-6">Carrera:</label>
                        <select id="carrera" name="carrera" th:value="${carrera}" class="form-select" aria-label="Default select example">
                            <option value="" selected>Seleccione</option>
                            <option value="Atención Primaria en Salud">Atención Primaria en Salud</option>
                            <option value="Electrónica">Electrónica</option>
                            <option value="Sistemas Electricos">Sistemas Electricos</option>
                          </select>

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label fs-6">Año:</label>
                        <select id="grado" name="grado" th:value="${grado}" class="form-select" aria-label="Default select example">
                            <option value="" selected>Seleccione</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3 </option>
                          </select>
                    </div>
                    <div class="mb-3 ">
                        <label for="exampleInputEmail1" class="form-label fs-6">Sección:</label>
                        <select id="seccion" name="seccion" th:value="${seccion}" class="form-select" aria-label="Default select example">
                            <option value="" selected>Seleccione</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                          </select>

                    </div>
                    <input type="submit" class="btn btn-primary" value="Buscar">

                   
                  </form>
               </div>
            </div>


        </div>
        <div class="col-8">
            <table class="table ">
                <thead class="thead table-dark text-center ">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nie</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>

                  </tr>
                </thead>
                <tbody class="table-group-divider">
                    <!-- Iterar sobre la lista de alumnos -->
                    <tr th:each="alumno, stat : ${alumnos}">
                        <th scope="row" th:text="${stat.index + 1}"></th>
                        <td th:text="${alumno.nie}"></td>
                        <td th:text="${alumno.apellidoAlumno}"></td>
                        <td th:text="${alumno.nombreAlumno}"></td>
                        <td  class="text-center">
                            <a class="btn btn-success"  th:text="'Ver'"> </a>
                            <a class="btn btn-primary"  th:text="'Editar'" th:href="@{/ExpedienteAlumno/editar/} + ${alumno.nie}"> </a>
                            <a class="btn btn-danger"  th:text="'Eliminar'"> </a>
                            
                        </td>

                    </tr>
                </tbody>
              </table>
        </div>

       </div>
    </div>



</body>

</html>