<!DOCTYPE html>
<html lang="en">

<head th:replace="home :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <header th:replace="home :: header">

    </header>

    <div class="container my-4">
       <div class="row my-2">

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                
               <div class="container">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label fs-6">Carrera:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccione</option>
                            <option value="1">Atención Primaria en Salud</option>
                            <option value="2">Electrónica</option>
                            <option value="3">Sistemas Electricos</option>
                          </select>

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label fs-6">Año:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccione</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3 </option>
                          </select>
                    </div>
                    <div class="mb-3 ">
                        <label for="exampleInputEmail1" class="form-label fs-6">Sección:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Seleccione</option>
                            <option value="1">A</option>
                            <option value="2">B</option>
                            <option value="3">C</option>
                            <option value="3">D</option>
                          </select>

                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
               </div>
            </div>


        </div>
        <div class="col-8">
            <table class="table ">
                <thead class="thead table-dark text-center ">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nie</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>

                  </tr>
                </thead>
                <tbody class="table-group-divider">
                    <!-- Iterar sobre la lista de alumnos -->
                    <tr th:each="alumno, stat : ${alumnos}">
                        <th scope="row" th:text="${stat.index + 1}"></th>
                        <td th:text="${alumno.nie}"></td>
                        <td th:text="${alumno.apellidoAlumno}"></td>
                        <td th:text="${alumno.nombreAlumno}"></td>
                        <td  class="text-center">
                            <a class="btn btn-success"  th:text="'Ver'"> </a>
                            <a class="btn btn-primary"  th:text="'Editar'"> </a>
                            <a class="btn btn-danger"  th:text="'Eliminar'"> </a>
                            
                        </td>

                    </tr>
                </tbody>
              </table>
        </div>

       </div>
    </div>



</body>

</html>