<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Actividades</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/Imagenes/INSIBO2.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

    <div class="container-fluid my-2 py-5">
        <div class="row">
            <div th:replace="~{Calificaciones\vistaActividades :: barraCalificaciones}">
            </div>
            <div class=" col-md-10 offset-md-2">
                <header th:replace="~{home :: header}"></header>

                <div class="container-fluid py-2 my-2">
                    <!--Mensajes-->
                    <div class="alert alert-success alert-dismissible fade show mt-1 ms-2 mr-2"
                        th:if="${success != null}">
                        <label th:text="${success}"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show mt-1 ms-2 mr-2" th:if="${error != null}">
                        <label th:text="${error}"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3 my-3 flex-wrap">
                        <h3 class="text-start col-lg-9" th:text="${'Cuadro de notas de la materia: '+asignacion.materia.nomMateria +' - '+
                        asignacion.bachillerato.grado + '° ' + 
                        (asignacion.bachillerato.nombreCarrera == 'Electrónica' ? 'ECA' :
                        asignacion.bachillerato.nombreCarrera == 'Atención Primaria en Salud' ? 'APS' :
                        asignacion.bachillerato.nombreCarrera == 'Sistemas Eléctricos' ? 'SE' :
                        asignacion.bachillerato.nombreCarrera == 'Desarrollo de Software' ? 'DS' :
                        asignacion.bachillerato.nombreCarrera == 'Administrativo Contable' ? 'AC' :
                        asignacion.bachillerato.nombreCarrera) + ' ' + 
                        asignacion.bachillerato.seccion + ' '}"></h3>
                        <div class="d-flex gap-2">

                            <!-- <a class="btn btn-primary Agregar-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Agregar Sancion" th:text="'Agregar actividad'"></a> -->
                        </div>
                    </div>
                    <div class="col-12 table-responsive">
                        <table class="table table-hover table-sm table-bordered">
                            <thead class="thead table-dark text-start">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <!-- Iterar sobre la lista de actividades para crear los encabezados -->
                                    <th scope="col" th:each="actividad : ${listadoActividades}"
                                        th:text="${actividad.nombreActividad}"></th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <thead class="thead table-dark text-start">
                                <tr>
                                    <th scope="col">N°</th>
                                    <th scope="col">NIE</th>
                                    <th scope="col">Nombre alumno</th>
                                    <!-- Mostrar la ponderación de cada actividad -->
                                    <th scope="col" th:each="actividad : ${listadoActividades}"
                                        th:text="${actividad.ponderacionActividad} + '%'"></th>
                                    <th scope="col">100%</th>
                                </tr>
                            </thead>
                            <tbody class="fs-6">
                                <!-- Iterar sobre la lista de alumnos -->
                                <tr th:each="alumno, stat : ${listaAlumnos}">
                                    <th scope="row" th:text="${stat.index + 1}"></th>
                                    <td th:text="${alumno.nie}"></td>
                                    <td class="text-start" th:text="${alumno.apellidoAlumno+' '+alumno.nombreAlumno}">
                                    </td>
                                    <!-- Iterar sobre las actividades para cada alumno -->
                                    <td th:each="actividad : ${listadoActividades}">
                                        <!-- Acceder a la nota correspondiente al alumno y actividad -->
                                        <span
                                            th:text="${notasPorAlumno[alumno.idAlumno][actividad.idActividad]?.notaObtenida ?: '-'}"></span>
                                    </td>
                                    <!-- Mostrar el total de notas por alumno -->
                                    <td th:text="${totalNotasPorAlumno[alumno.idAlumno]}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="~{home :: footer}"></footer>
</body>

</html>