<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Actividades</title>
     <link rel="shortcut icon" type="image/x-icon" th:href="@{/Imagenes/INSIBO2.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
   
    <div class="container-fluid my-2 py-5">
        <div class="row">
            <!--Barra Lateral-->
            <div>
                <nav class="col-md-2 d-none d-md-block custom-navbar min-vh-100 navbar navbar-expand-lg fixed-top">
                    <!-- Contenido del menú lateral -->
                    <div class="custom-navbar py-5">
                        <ul class="nav nav-pills flex-column mt-2">
                            <li class="nav-item py-2 py-sm-0 my-2 bg-primary">
                                <div class="text-center text-white">
                                    <h2>Año 2024</h2>
                                </div>
                            </li>
                            <li class="nav-item py-2 py-sm-0 my-2">
                                <a class="nav-link text-white"
                                   >
                                    <i class="bi bi-journal-check"></i>
                                    <span class="fs-6 ms-2 d-none d-sm-inline">Gestor de actividades</span>
                                </a>
                            </li>
                            <li class="nav-item py-2 py-sm-0 my-2">
                                <a class="nav-link text-white">
                                    <i class="bi bi-journal-text"></i>
                                    <span class="fs-6 ms-2 d-none d-sm-inline">Gestor de calificaciones </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
            <div class=" col-md-10 offset-md-2">
                <header th:replace="~{home :: header}"></header>

                <div class="container-fluid py-2 my-2">
                    <!--Mensajes-->
                    <div class="alert alert-success alert-dismissible fade show mt-1 ms-2 mr-2"
                        th:if="${success != null}">
                        <label th:text="${success}"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show mt-1 ms-2 mr-2" th:if="${error != null}">
                        <label th:text="${error}"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3 my-3 flex-wrap">
                        <h3 class="text-start col-lg-9"
                           > calificaciones
                        </h3>
                        <div class="d-flex gap-2">

                            <!-- <a class="btn btn-primary Agregar-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Agregar Sancion" th:text="'Agregar actividad'"></a> -->
                        </div>
                    </div>
                    <div class="col-12 table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead table-dark text-start">
                                <tr>
                                    <th scope="col"></th>
                                    <!-- Iterar sobre la lista de actividades para crear los encabezados -->
                                    <th scope="col" th:each="actividad : ${listadoActividades}" th:text="${actividad.nombreActividad}"></th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <thead class="thead table-dark text-start">
                                <tr>
                                    <th scope="col">Alumno</th>
                                    <!-- Mostrar la ponderación de cada actividad -->
                                    <th scope="col" th:each="actividad : ${listadoActividades}" th:text="${actividad.ponderacionActividad} + '%'"></th>
                                    <th scope="col">100%</th>
                                </tr>
                            </thead>
                            <tbody class="fs-6">
                                <!-- Aquí puedes iterar sobre una lista de alumnos -->
                                <!-- <tr th:each="alumno : ${listadoAlumnos}">
                                    <td th:text="${alumno.nombre}">Pedro</td>
                                   
                                    <td th:each="actividad : ${listadoActividades}">
                                        <input type="text" th:value="10" class="form-control">
                                    </td>
                                    <td> </td>
                                </tr> -->
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="~{home :: footer}"></footer>   
</body>

</html>