<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Actividades</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/Imagenes/INSIBO2.ico}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

    <div class="container-fluid my-2 py-5">
        <div class="row">
            <!--Barra Lateral-->
            <div>
                <nav class="col-md-2 d-none d-md-block custom-navbar min-vh-100 navbar navbar-expand-lg fixed-top">
                    <!-- Contenido del menú lateral -->
                    <div class="custom-navbar py-5">
                        <ul class="nav nav-pills flex-column mt-2">
                            <li class="nav-item py-2 py-sm-0 my-2 bg-primary">
                                <div class="text-center text-white">
                                    <h2>Año 2024</h2>
                                </div>
                            </li>
                            <li class="nav-item py-2 py-sm-0 my-2">
                                <a class="nav-link text-white" th:href="@{/Actividad/}+${asignacion.bachillerato.codigoBachillerato}">
                                    <i class="bi bi-journal-check"></i>
                                    <span class="fs-6 ms-2 d-none d-sm-inline">Gestor de actividades</span>
                                </a>
                            </li>
                            <li class="nav-item py-2 py-sm-0 my-2">
                                <a class="nav-link text-white">
                                    <i class="bi bi-journal-text"></i>
                                    <span class="fs-6 ms-2 d-none d-sm-inline">Gestor de calificaciones </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
            <div class=" col-md-10 offset-md-2">
                <header th:replace="~{home :: header}"></header>

                <div class="container-fluid py-2 my-2">
                    <!--Mensajes-->
                    <div class="alert alert-success alert-dismissible fade show mt-1 ms-2 mr-2"
                        th:if="${success != null}">
                        <label th:text="${success}"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show mt-1 ms-2 mr-2"
                        th:if="${error != null}">
                        <label th:text="${error}"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3 my-3 flex-wrap">
                        <h3 class="text-start col-lg-9" th:text="${'Actividades de '+asignacion.materia.nomMateria + ': '+asignacion.bachillerato.grado+ '° '+ asignacion.bachillerato.nombreCarrera+ ' ' + asignacion.bachillerato.seccion}"></h3>
                        <div class="d-flex gap-2">

                            <a class="btn btn-primary Agregar-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Agregar Sancion" th:text="'Agregar actividad'"></a>
                        </div>
                    </div>
                    <div class="col-12 table-responsive">
                        <table class="table table-hover table-sm">
                            <thead class="thead table-dark text-start">
                                <tr>
                                    <th scope="col">N°</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Ponderación</th>
                                    <th scope="col">Periodo</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="fs-6">
                                <!-- Iterar sobre la lista de sanciones -->
                                <tr th:each="actividad, stat: ${listadoActividades}">
                                    <th scope="row" th:text="${stat.index + 1}"></th>
                                    <td th:text="${actividad.nombreActividad}"></td>
                                    <td th:text="${actividad.descripcionActividad}"></td>
                                    <td th:text="${#dates.format(actividad.fechaActividad,'dd/MM/yyyy')}"></td>
                                    
                                    <td th:text="${actividad.ponderacionActividad +'%'}"></td>
                                    <td th:text="${actividad.periodo.numeroPeriodo}"></td>
                                    <td>
                                        <a class="btn btn-primary editar-btn" data-bs-toggle="modal"
                                            data-bs-target="#EditarActividadModal" data-bs-placement="top"
                                            title="Editar" th:data-id="${actividad.idActividad}"
                                            th:data-non="${actividad.nombreActividad}"
                                            th:data-des="${actividad.descripcionActividad}"
                                            th:data-fec="${actividad.fechaActividad}"
                                            th:data-pon="${actividad.ponderacionActividad}"
                                            th:data-per="${actividad.periodo.idPeriodo}">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a class="btn btn-danger delete-btn" th:href="@{/}" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="Eliminar">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal agregar -->
    <div class="modal fade" id="agregarActividadModal" tabindex="-1" aria-labelledby="AgregarActividadLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="AgregarActividadLabel">Crear actividad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario dentro del modal -->
                    <form th:object="${actividad}" method="post" id="formActividad" class="needs-validation"
                        th:action="@{/Actividad/add}" novalidate>
                        <input type="hidden" id="idAsignacion" name="asignacion" th:value="${asignacion.idAsignacion}">
                        <div class="mb-3">
                            <label for="periodo" class="form-label fw-bold">Periodo</label>
                            <select th:field="*{periodo}" class="form-select border-secondary border-opacity-75"
                                id="periodo" required>
                                <option value="" selected>Selecciona </option>
                                <option th:each="period : ${periodos}" th:value="${period.idPeriodo}"
                                    th:text="${period.numeroPeriodo}">Leve</option>
                            </select>
                            <div class="invalid-feedback">Es necesario seleccionar el tipo de falta</div>
                        </div>
                        <div class="mb-3">
                            <label for="nombreActividadEditModal" class="col-form-label">Nombre de la Actividad:</label>
                            <input type="text" class="form-control" id="nombreActividadEditModal"
                                th:field="*{nombreActividad}" />
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label" for="descripcionActividadEditModal">Descripción:</label>
                            <textarea class="form-control" id="descripcionActividadEditModal"
                                th:field="*{descripcionActividad}"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="fechaActividadEditModal" class="col-form-label">Fecha de la Actividad:</label>
                            <input type="date" class="form-control" id="fechaActividadEditModal"
                                th:field="*{fechaActividad}" />
                        </div>
                        <div class="mb-3">
                            <label for="ponderacionActividadEditModal" class="col-form-label">Ponderación:</label>
                            <input type="number" class="form-control" id="ponderacionActividadEditModal"
                                th:field="*{ponderacionActividad}" />
                        </div>
                        <!-- Botones del modal -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                id="cancelarSancion">Cancelar</button>
                            <button type="submit" class="btn btn-primary" id="agregarModalButton">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Editar -->
    <div class="modal fade" id="EditarActividadModal" tabindex="-1" aria-labelledby="EditarActividadModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="EditarActividadLabel">Crear actividad</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulario dentro del modal -->
                    <form th:object="${actividad}" method="post" id="formActividad" class="needs-validation"
                        th:action="@{/Actividad/add}" novalidate>
                        <input type="hidden" id="idActividad" name="idActividad" >
                        <input type="hidden" id="idAsignacion" name="asignacion" th:value="${asignacion.idAsignacion}">
                        <div class="mb-3">
                            <label for="periodo" class="form-label fw-bold">Periodo</label>
                            <select th:field="*{periodo}" class="form-select border-secondary border-opacity-75"
                                id="editPeriodo"  required>
                                <option value="" selected>Selecciona </option>
                                <option th:each="period : ${periodos}" th:value="${period.idPeriodo}"
                                    th:text="${period.numeroPeriodo}">Leve</option>
                            </select>
                            <div class="invalid-feedback">Es necesario seleccionar el tipo de falta</div>
                        </div>
                        <div class="mb-3">
                            <label for="nombreActividadEditModal" class="col-form-label">Nombre de la Actividad:</label>
                            <input type="text" class="form-control" id="editNombre" name="editNombre"
                                th:field="*{nombreActividad}" />
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label" for="descripcionActividadEditModal">Descripción:</label>
                            <textarea class="form-control no-resize " id="editDescripcion" rows="3"
                                th:field="*{descripcionActividad}"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="fechaActividadEditModal" class="col-form-label">Fecha de la Actividad:</label>
                            <input type="date" class="form-control" id="editFechaCreacion"
                                th:field="*{fechaActividad}" />
                        </div>
                        <div class="mb-3">
                            <label for="ponderacionActividadEditModal" class="col-form-label">Ponderación:</label>
                            <input type="number" class="form-control" id="editPonderacion"
                                th:field="*{ponderacionActividad}" />
                        </div>
                        <!-- Botones del modal -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                id="cancelarSancion">Cancelar</button>
                            <button type="submit" class="btn btn-primary" id="agregarModalButton">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de eliminar la actividad? Esta acción no puede deshacerse.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="confirmDeleteButton">Eliminar</button>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="~{home :: footer}"></footer>
    <script type="text/javascript" src="/js/modalEliminacion.js"></script>
    <script type="text/javascript" th:src="@{/js/GestionActividades.js}"></script>
</body>

</html>