<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{home :: head}">

<body>
    <header th:replace="~{home :: header}"></header>
    <div class="py-5"></div>
    <div class="container">

        <!--Mensajes-->
        <div class="alert alert-success alert-dismissible fade show mt-1 mx-2" th:if="${success != null}">
            <label th:text="${success}"></label>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="alert alert-danger alert-dismissible fade show mt-1 mx-2" th:if="${error != null}">
            <label th:text="${error}"></label>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="alert alert-warning alert-dismissible fade show mt-1 mx-2" th:if="${warning != null}">
            <label th:text="${warning}"></label>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="py-4 bg-light">
            <h1 class="text-center">Creacion de años</h1>
        </div>
        <div class="py-2"></div>

        <div class=" py-1">
            <div class="d-flex justify-content-between align-items-center mb-3 my-3 flex-wrap">
                <h3 class="text-start col-lg-9"></h3>
                <div class="d-flex gap-2">
                    <a class="btn btn-success Agregar-btn" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Crear año" th:text="'Crear año'"></a>
                </div>
            </div>

            <div class="table-responsive py-2">
                <table class="table table-hover">
                    <thead class="tabla-c">
                        <tr>
                            <th scope="col">N°</th>
                            <th scope="col">Año</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2022</td>
                            <td>inactivo</td>
                            <td>
                                <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Consultar">
                                    <i class="bi bi-file-earmark-text"></i>
                                </a>
                                <a class="btn btn-primary editar-btn">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <!-- <a class="btn btn-danger delete-btn" title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </a> -->
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2023</td>
                            <td>Activo</td>
                            <td>
                                <a class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top"
                                    title="Consultar">
                                    <i class="bi bi-file-earmark-text"></i>
                                </a>
                                <a class="btn btn-primary editar-btn">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <!-- <a class="btn btn-danger delete-btn" title="Eliminar">
                                    <i class="bi bi-trash"></i>
                                </a> -->
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>2024</td>
                            <td>inactivo</td>
                            <td>
                                <a class="btn btn-warning editar-btn"> Crear oferta</a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal de creacion de año -->
    <div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="confirmAgregarModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmAgregarModalLabel">Crear año</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:object="${anio}" class="needs-validation" id="formAnio" novalidate method="post"
                    th:action="@{/Bachillerato/guardarAnio}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="anioLabel" class="form-label fw-bold">Año:</label>
                            <input type="text" th:field="*{anio}" class="form-control restricted-input" id="anio" placeholder="0000" required minlength="4" maxlength="4"/>
                            <div class="invalid-feedback">
                                Este campo no puede queda vacio
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            id="cancelarAnio">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="agregarModalButton">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal de editar sancion -->
    <!-- <div class="modal fade" id="actualizarOrientadorModal" tabindex="-1" aria-labelledby="actualizarOrientadorLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="actualizarOrientadorLabel">Agregar sanción</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form th:object="${orientador}" class="needs-validation" id="formOrientador" novalidate method="post"
          th:action="@{/AsignacionOrientador/guardarOrientacion}">
          <div class="modal-body">
            <div class="mb-3">
              <input type="hidden" id="idOrientador" name="idOrientador">
              <label for="docente" class="form-label fw-bold">Docente:</label>
              <select th:field="*{docente}" class="form-select border-secondary border-opacity-75" id="EditDocente"
                required>
                <option value="" selected>Seleccione</option>
                <option th:each="docente : ${Docentes}" th:value="${docente.duiDocente}"
                  th:text="${docente.nombreDocente+ ' '+ docente.apellidoDocente}"></option>
              </select>
              <div class="invalid-feedback">Es necesario seleccionar el docente</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label fs-6">Especialidad del bachillerato:</label>
              <select th:field="*{bachillerato}" class="form-select border-secondary border-opacity-75"
                aria-label="Default select example" id="EditBachillerato" required>
                <option value="" selected>Seleccione</option>
                <option th:each="bachillerato : ${bachilleratos}" th:value="${bachillerato.codigoBachillerato}"
                  th:text="${bachillerato.grado +'° '+ bachillerato.nombreCarrera  + ' - Sección ' + bachillerato.seccion}">
                </option>
              </select>
              <div class="invalid-feedback">Es necesario seleccionar una especialidad</div>
            </div>
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              id="cancelarSancion">Cancelar</button>
            <button type="submit" class="btn btn-primary" id="agregarModalButton">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div> -->



</body>
<footer th:replace="~{home :: footer}"></footer>
  <script type="text/javascript" th:src="@{/js/GestionAnio.js}"></script>

</html>