<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{home :: head}"></head>

<body>
    <header th:replace="~{home :: header}"></header>

    <div class="py-5"></div>
    <div class="container">
        <h1 class="text-center">Crear Oferta</h1>
        <div class="card">
            <h5 class="card-header text-center">Atención Primaria en Salud</h5>
            <div class="card-body">

                <form action="" method="post">

                    <table class="table table-responsive table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Grado</th>
                                <th scope="col">Secciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionA">
                                        <label class="form-check-label" for="flexCheckDefault">A</label>

                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionB">
                                        <label class="form-check-label" for="flexCheckDefault">B </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionC">
                                        <label class="form-check-label" for="flexCheckDefault">C</label>
                                    </div>
                                    <div class="form-check form-check-inline">

                                        <input class="form-check-input" type="checkbox" value="" id="seccionD">
                                        <label class="form-check-label" for="flexCheckDefault">D</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionA">
                                        <label class="form-check-label" for="flexCheckDefault">A</label>

                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionB">
                                        <label class="form-check-label" for="flexCheckDefault">B </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionC">
                                        <label class="form-check-label" for="flexCheckDefault">C</label>
                                    </div>
                                    <div class="form-check form-check-inline">

                                        <input class="form-check-input" type="checkbox" value="" id="seccionD">
                                        <label class="form-check-label" for="flexCheckDefault">D</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionA">
                                        <label class="form-check-label" for="flexCheckDefault">A</label>

                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionB">
                                        <label class="form-check-label" for="flexCheckDefault">B </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionC">
                                        <label class="form-check-label" for="flexCheckDefault">C</label>
                                    </div>
                                    <div class="form-check form-check-inline">

                                        <input class="form-check-input" type="checkbox" value="" id="seccionD">
                                        <label class="form-check-label" for="flexCheckDefault">D</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>

            </div>
        </div>
        <div class="card">
            <h5 class="card-header text-center">Administrativo Contable</h5>
            <div class="card-body">

                <form action="" method="post">

                    <table class="table table-responsive table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Grado</th>
                                <th scope="col">Secciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionA">
                                        <label class="form-check-label" for="flexCheckDefault">A</label>

                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionB">
                                        <label class="form-check-label" for="flexCheckDefault">B </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionC">
                                        <label class="form-check-label" for="flexCheckDefault">C</label>
                                    </div>
                                    <div class="form-check form-check-inline">

                                        <input class="form-check-input" type="checkbox" value="" id="seccionD">
                                        <label class="form-check-label" for="flexCheckDefault">D</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionA">
                                        <label class="form-check-label" for="flexCheckDefault">A</label>

                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionB">
                                        <label class="form-check-label" for="flexCheckDefault">B </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionC">
                                        <label class="form-check-label" for="flexCheckDefault">C</label>
                                    </div>
                                    <div class="form-check form-check-inline">

                                        <input class="form-check-input" type="checkbox" value="" id="seccionD">
                                        <label class="form-check-label" for="flexCheckDefault">D</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionA">
                                        <label class="form-check-label" for="flexCheckDefault">A</label>

                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionB">
                                        <label class="form-check-label" for="flexCheckDefault">B </label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="" id="seccionC">
                                        <label class="form-check-label" for="flexCheckDefault">C</label>
                                    </div>
                                    <div class="form-check form-check-inline">

                                        <input class="form-check-input" type="checkbox" value="" id="seccionD">
                                        <label class="form-check-label" for="flexCheckDefault">D</label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>

            </div>
        </div>


    </div>

    <footer th:replace="~{home :: footer}"></footer>
</body>

</html>